body {
    background-color: #393939;
    margin: 0px;
    font-family: 'Sarabun', serif;
}

.main-container {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 40px;
    margin-bottom: 40px;
    width: calc(64% - 40px);
    background-color: white;
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 20px;
}